.Movie__header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: var(--box-width);
  background-color: #1f2023;
  z-index: 99;
}

.Movie__nav {
  display: flex;
  justify-content: space-between;
  width: var(--section-width);
  height: 70px;
}

.nav__items {
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav__items li {
  float: left;
  margin: 10px;
  cursor: pointer;
}

.nav__movie__input {
  transition: 0.2s ease-in;
  visibility: hidden;
  width: 0px;
}

.fa-search {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-search > span {
  margin-left: 10px;
}
