.Movie__slider {
  display: flex;
  align-items: center;
  width: var(--box-width);
}

.Movie__slider__container {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  background-blend-mode: multiply;
  background-size: 100% 100%;
}

.Movie__slider i {
  opacity: 0.4;
}

.Movie__slider .fa-chevron-right {
  position: absolute;
  right: 20px;
}

.Movie__slider .fa-chevron-left {
  position: absolute;
  left: 20px;
}

.Movie__slider > i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.Movie__slider .fa-list {
  margin-right: 8px;
}

.Movie__sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 690px;
  padding-left: 100px;
}

.Movie__slider:nth-child(0) {
  flex-shrink: 0;
}
.Movie__recommend__title {
  font-size: 36px;
}

.Movie__titles {
  font-size: 20px;
}

.Movie__list__btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(20, 21, 23);
  border: 0;
  color: white;
}

.Movie__list__btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
