.Movie__slider__container {
  display: flex;
  align-items: center;
}

.Movie__slider {
  width: 100%;
  background-blend-mode: multiply;

  /* transition: opacity 0.5s ease-in 0s; */
}

.fade-in {
  animation-duration: 2s;
  animation-name: fade-in;
}

.Movie__slider__container i {
  opacity: 0.4;
}

.Movie__slider__container .fa-chevron-right {
  position: absolute;
  right: 20px;
}

.Movie__slider__container .fa-chevron-left {
  position: absolute;
  left: 20px;
}

.Movie__slider__container > i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.Movie__slider__container .fa-list {
  margin-right: 8px;
}

.Movie__sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 690px;
  padding-left: 100px;
}

.Movie__slider:nth-child(0) {
  flex-shrink: 0;
}
.Movie__recommend__title {
  font-size: 36px;
}

.Movie__titles {
  font-size: 20px;
}

.Movie__list__btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(20, 21, 23);
  border: 0;
  color: white;
}

.Movie__list__btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
