.Movie__box {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  width: var(--box-width);
  margin-bottom: 10px;
}

.Movie__box__arrow {
  position: absolute;
  display: flex;
  align-items: center;
  width: 30px;
  height: 415px;
  opacity: 0.6;
  top: 10px;
}

.Movie__box__arrow:hover {
  background-color: rgb(34, 36, 37);
  opacity: 0.8;
}

.Movie__box__arrow.right {
  right: 5px;
}

.Movie__box__arrow.left {
  visibility: hidden;
  left: 5px;
}

.Movie__box__list {
  width: var(--section-width);
}

.Movie__list__title {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.Movie__box__items {
  display: flex;
  transition: 0.5s ease-in;
}

.Movie__box__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 3px;
}

.Movie__box__item:last-child {
  margin-right: 0;
}

.Movie__box__poster {
  width: 250px;
  margin-top: 10px;
  transition: 0.2s ease-in;
}

.Movie__box__title {
  padding: 5px;
  font-weight: bold;
}

.Movie__box__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: bold;
  visibility: hidden;
  top: 30%;
  left: 20%;
  font-size: 30px;
}

.Movie__box__detail span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.Movie__box__detail a {
  text-decoration: none;
  color: white;
}
