.Movie__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat linear-gradient(to bottom, white, rgb(20, 21, 23, 0.7)),
    url('https://post-phinf.pstatic.net/MjAxNzA2MzBfMjg5/MDAxNDk4ODAyNjg2NjA3.Ab7DH2K18Yu8IGYsfUXE4tYGq-saXK3FE7SE6yfYqaAg.H1nYz5Lq1Ugvw3VwlX4CI0PIzxUOkS40GYYYFNzQLRQg.PNG/%ED%95%9C%EA%B5%AD_%ED%8F%AC%EC%8A%A4%ED%84%B0_%EC%99%B8%EA%B5%AD_%ED%8F%AC%EC%8A%A4%ED%84%B0-02.png?type=w1200');
  background-blend-mode: multiply;
  background-size: 100% 100%;
  width: var(--box-width);
}

.Movie__slider i {
  opacity: 0.4;
}

.Movie__slider > i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.Movie__slider .fa-list {
  margin-right: 8px;
}

.Movie__sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  width: var(--section-width);
  height: 690px;
}

.Movie__recommend__title {
  font-size: 36px;
}

.Movie__titles {
  font-size: 20px;
}

.Movie__list__btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(20, 21, 23);
  border: 0;
  color: white;
}

.Movie__list__btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
