:root {
  --main-bg-color: rgb(20, 21, 23);
  --main-text-color: white;
  --style-border: 1px solid white;
  --box-width: 100%;
  --section-width: 90%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.App--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: var(--main-bg-color);
}

.Movie__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Movie__loading i {
  animation: rotate 1.5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
